body {
    color: white;
    background:
            black;
    font-family: Courier, monospace;
    font-size: small;
}


/*body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
            0deg,
            rgba(FF,FF,FF, 0.15),
            rgba(0,0,0, 0.15) 1px,
            transparent 1px,
            transparent 2px
    );
}*/

a:active{
    background:none;
    color:blue;
    text-decoration: none !important;
    border-bottom:none !important;

}
a:link{
    background:none;
    color:blue;
    text-decoration: none !important;
    border-bottom:none !important;

}


a:visited{
    background:none;
    color:blue;
    text-decoration: none !important;

}

a:hover{
    background: none;
    color:lawngreen;
    text-decoration: none !important;
}
a:-webkit-any-link {
    border-bottom:none !important;
}

pre:hover{
    color:lawngreen;
}

h2, h3 {
    text-align:center;
}

#left{
    float:left;
    max-width:307px;
    height: 702px;
}

#right {
    float:right;
    width:568px;
    height: 682px;
}

.ctr, .sps {
    text-align:center;
}

.head
{
    text-transform: uppercase;
}

.stats {
    text-align: left;
    text-transform: uppercase;
}

.skills {
    width:50%;
}
#cdown
{
    width:100%;
    height: 200px;
}

.cdth {
    padding-top:30px;
}

.content {
    max-width:1024px;
    margin:auto;
    border-top: 2px solid white;
    border-right: 2px dashed white;
    border-left: 2px dashed white;
    border-bottom: 2px solid white;
    border-bottom: 2px solid white;
}


table {
    padding-right: 5px;
    padding-left: 5px;
    border: 2px solid white;
    border-collapse: collapse;
}

caption {
    border: 2px solid white;
}

th {
    border: 1px solid white;
    padding: 10px;
    text-align:center;
}

tr {
    border: 1px dashed white;
}

tr:hover{
    color: lawngreen;
}

td {
    border-right: 1px solid white;
    padding: 4px;
}



